@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html,
body{
    margin: 0;
}

.main-container {
    display: flex;
    justify-content: center;
    margin: 2em 0;
}

.main-container > button{
    margin: 0 .5em;
}